:root {
    --total-black: #000000;
    --black: #222222;
    --light-pink: #F1E4E6;
    --pink: #F16D7F;
    --white: #FFFFFF;
    --white-promo: #FBFBFB;
    --grey: #9F9F9F;
    --text-card: #5D5D5D;
    --light-grey: #F8F8F8;
    --icon-color: #E8E8E8;
    --input-subscribe: #E1E1E1;
    --registr-bgnd: #F8F3F4;
    --registr-color: #A4A4A4;
    --registr-text: #B1B1B1;
}

.icon-color_static {
    fill: var(--icon-color);
}

.footer__socials_link:hover .icon-color_static {
    fill: var(--pink);
}

.icon-color_social--letter {
    fill: var(--black);
}

.footer__socials_link:hover .icon-color_social--letter {
    fill: var(--icon-color);
}

.footer__socials_link:active .icon-color_social--letter {
    fill: var(--grey);
}

.footer__socials_link:focus .icon-color_social--letter {
    fill: var(--black);
}

.icon-color_social--insta {
    fill: var(--pink);
}

.footer__socials_link--insta:hover .icon-color_social--insta {
    fill: var(--icon-color);
}

.footer__socials_link--insta:hover .icon-color_static {
    fill: var(--pink);
}

.footer__socials_link--insta:focus .icon-color_static {
    fill: var(--black);
}

.footer__socials_link--insta:active .icon-color_static {
    fill: var(--grey);
}

.page {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    font-style: normal;
    letter-spacing: 0%;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(50%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.header {
    background-color: var(--black);
    max-width: 1600px;
    margin: 0 auto;
}

.header__nav {
    display: none;
}

.header__wrp {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 75px;
}

.header__logo {
    margin: 0 41px 0 0;
}

.header__link {
    margin: 0 0 0 31px;
}

.icon-color_static:hover {
    fill: var(--pink);
}

.icon-color_static:focus {
    fill: var(--light-pink);
}

.icon-color_static:active {
    fill: var(--grey);
}

.header__menu-btn {
    border: none;
    background-color: transparent;
}

.header__nav {
    display: none;
}

.brand {
    width: 1600px;
    margin: 0 auto;
    display: flex;
}

.brand__wrp {
    background-color: var(--light-pink);
    flex-grow: 1;
    padding: 0 0 0 92px;
    display: flex;
    align-items: center;
}

.brand__title {
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
    text-transform: uppercase;
    color: var(--black);
    position: relative;
}

.brand__title::after {
    content: " ";
    position: absolute;
    width: 12px;
    height: 92px;
    background-color: var(--pink);
    left: -26px;
    top: -0;

}

.brand__subtitle {
    display: flex;
    font-weight: 700;
    font-size: 32px;
    line-height: 100%;
}

.brand__subtitle-pink {
    color: var(--pink);

}

.sale__list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 63px;
}

.sales__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sales__item_women {
    width: 360px;
    height: 260px;
    background-image: url(../img/woman.png);
    background-repeat: no-repeat;
}

.sales__item_men {
    width: 360px;
    height: 260px;
    background-image: url(../img/men.png);
    background-repeat: no-repeat;
    margin-left: 30px;
}

.sales__item_kids {
    width: 360px;
    height: 260px;
    background-image: url(../img/kids.png);
    background-repeat: no-repeat;
    margin-left: 30px;
}

.sales__item_accesories {
    width: 1142px;
    height: 180px;
    background-image: url(../img/accesories.png);
    background-repeat: no-repeat;
    margin-top: 30px;
}

.sales__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    text-align: center;
    color: var(--white);
    text-transform: uppercase;
}

.sales__item-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
    text-align: center;
    color: var(--pink);
    text-transform: uppercase;
}

.fetured__title {
    font-weight: 400;
    font-size: 30px;
    line-height: 100%;
    margin: 97px 0 6px 0;
    text-align: center;
    color: var(--black)
}

.fetured__subtitle {
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    text-align: center;
    color: var(--grey);
}

.fetured__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 48px;
}

.fetured__item {
    width: 360px;
    margin-bottom: 30px;
    background-color: var(--light-grey);
    position: relative;
}

.fetured__heading {
    font-weight: 400;
    font-size: 13px;
    line-height: 100%;
    letter-spacing: 0%;
    color: var(--total-black);
    text-transform: uppercase;
    margin: 25px 18px 12px;
}

.fetured__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    color: var(--text-card);
    margin: 18px;
    box-sizing: border-box;
}

.fetured__price {
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color: var(--pink);
    margin: 18px;
    box-sizing: border-box;
}

.fetured__overlay {
    width: 100%;
    min-height: 580px;
    background: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 0;
}

.fetured__card-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px 15px 15px 50px;
    background-color: transparent;
    color: var(--white);
    border: 1px solid var(--white);
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
}

.fetured__card-btn:hover {
    background-color: var(--grey);
    border: 1px solid var(--black);
}

.fetured__card-btn:focus {
    background-color: var(--pink);
}

.fetured__card-btn:active {
    color: var(--black);
}

.fetured__card-btn::before {
    content: "";
    width: 26px;
    height: 24px;
    background-image: url(../img/cart.svg);
    background-size: 26px 24px;
    left: 16px;
    top: 10px;
    position: absolute;
}


.fetured__overlay,
.fetured__card-btn {
    display: none;
}

.fetured__item:hover .fetured__card-btn,
.fetured__item:hover .fetured__overlay {
    display: block;
}

.fetured__btn_wrp {
    display: flex;
    justify-content: center;
}

.fetured__btn {
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    padding: 15px 39px;
    margin: 18px 0 95px;
    color: var(--pink);
    border: 1px solid var(--pink);
    background-color: var(--white);
}

.fetured__btn:hover {
    color: var(--white);
    border: 1px solid var(--pink);
    background-color: var(--pink);
}

.fetured__btn:active {
    color: var(--grey);
    border: 1px solid var(--grey);
    background-color: var(--white);
}

.fetured__btn:focus {
    color: var(--pink);
    border: 1px solid var(--grey);
    background-color: var(--light-pink);
}

.promo {
    background-color: var(--black);
    width: 1600px;
    margin: 0 auto;
    padding: 103px 0;
}

.promo__list {
    display: flex;
    justify-content: space-between;
}

.promo__item {
    width: 360px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.promo__title {
    font-weight: 400;
    font-size: 20px;
    color: var(--white-promo);
    margin: 28px 0 16px;
}

.promo__text {
    font-weight: 400;
    font-size: 14px;
    color: var(--white-promo);
    text-align: center;
}

.footer {
    width: 1600px;
    height: 100%;
    margin: 0 auto;
    background-image: url(../img/bgi_footer.png);
    background-repeat: no-repeat;

}

.footer__wrp {
    display: flex;
    justify-content: space-between;
}

.footer__box {
    margin: 97px 0 126px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__box-text {
    width: 359px;
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    text-align: center;
    margin-top: 30px;
    color: var(--black);
}

.footer__box--italic {
    font-style: italic;
}

.footer__subscribe {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer__subscribe-subtitle {
    font-weight: 400;
    font-size: 18px;
    line-height: 167%;
    color: var(--black);
    text-transform: uppercase;
    margin-bottom: 32px;
}

.footer__subscribe-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 167%;
    color: var(--black);
    text-transform: uppercase;
}

.footer__subscribe-form {
    display: flex;
}

.footer__subscribe-input {
    width: 300px;
    height: 49px;
    opacity: 67%;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    vertical-align: middle;
    background-color: var(--input-subscribe);
    color: var(--black);
    border: 0;
    padding-left: 22px;
    border-radius: 25px 0 0 25px;
}

.footer__subscribe-btn {
    width: 100px;
    height: 49px;
    background-color: var(--pink);
    border-radius: 0 25px 25px 0;
    color: var(--white);
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    text-align: center;
    vertical-align: middle;
    border: 0;
}

.footer__subscribe-btn:hover {
    background-color: var(--light-pink);
    color: var(--pink);
}

.footer__subscribe-btn:active {
    color: var(--grey);
}

.footer__socials {
    background-color: var(--black);
    width: 1600px;
    margin: 0 auto;
}

.footer__socials_wrp {
    height: 79px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__socials_text {
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color: var(--white-promo);
}

.footer__socials_list {
    display: flex;
}

.footer__socials_item {
    margin-left: 7px;
}

.registration {
    width: 1600px;
    height: 148px;
    margin: 0 auto;
    background-color: var(--registr-bgnd);
}

.registration__header {
    height: 148px;
    display: flex;
    align-items: center;
}

.registration__title {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
    color: var(--pink);
}

.registration__wrp {
    background-color: var(--white);
    display: flex;
    margin-top: 64px;
    /* flex-grow: 1; */
}

.fieldset {
    border: none;
}

.registration__legend {
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color: var(--black);
    margin-bottom: 20px;
}

.registration__form_name,
.registration__form_login {
    display: flex;
    flex-direction: column;
}

.registration__first-name,
.registration__last-name,
.registration__email,
.registration__password {
    width: 360px;
    height: 45px;
    border: 1px solid var(--registr-color);
    color: var(--registr-text);
    font-weight: 400;
    font-size: 13px;
    line-height: 100%;
    padding-left: 17px;
}

.registration__first-name,
.registration__email {
    margin-bottom: 20px;
}

.registration__last-name {
    margin-bottom: 31px;
}

.registration__password {
    margin-bottom: 15px;
}

.registration__form_gender {
    display: flex;
    margin-bottom: 33px;
}

.registration__gender {
    display: none;
    padding-left: 27px;
}

.registration__gender_label {
    margin-right: 20px;
    position: relative;
}

.registration__gender_span {
    font-weight: 400;
    font-size: 11px;
    line-height: 100%;
    color: var(--black);
    padding-left: 27px;
}


.registration__gender_label::before {
    position: absolute;
    content: "";
    width: 17px;
    height: 17px;
    border-radius: 50%;
    border: 1px solid var(--registr-color);
}

.registration__gender:checked+.registration__gender_label::before {
    background: var(--registr-color);
    background-size: 10px 10px;
}

.registration__form_text {
    width: 360px;
    font-weight: 400;
    font-size: 13px;
    line-height: 100%;
    color: var(--registr-text);
    margin-bottom: 39px;
}

.registration__btn {
    padding: 16px 29px;
    border: none;
    background-color: var(--pink);
    margin-bottom: 96px;
    color: var(--white);
}

.registration__content {
    margin-left: 128px;
}

.registration__content_title {
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
    text-transform: uppercase;
    color: var(----total-black);
    margin-bottom: 22px;
}

.registration__content_text {
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
    color: var(----total-black);
    margin-bottom: 21px;
}

.registration__content_item {
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
    color: var(--total-black);
    margin-bottom: 16px;
    padding-left: 42px;
    position: relative;
}

.registration__content_item::before {
    position: absolute;
    content: "";
    width: 20px;
    height: 16px;
    background-image: url(../img/checkmark.svg);
    background-size: 20px 16px;
    left: 0;
}