.page {
    font-family: $font-lato;
    @include font (14px, 100%, 400);
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(50%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

@media (max-width: $tablet-width) {
    .container {
        width: 96%;
    }

}

@media (max-width: $mobile-width) {
    .container {
        width: 91%;
    }
}

@media (max-width: $mobile-cart-width) {
    .container {
        width: 96%;
    }
}

.container-bootstrap {
    width: 1140px;
    margin: 0 auto;
}

@media (max-width: $tablet-width) {
    .container-bootstrap {
        width: 96%;
    }
}

@media (max-width: $mobile-width) {
    .container-bootstrap {
        width: 91%;
    }
}

@media (max-width: $mobile-cart-width) {
    .container-bootstrap {
        width: 96%;
    }
}