$total-black: #000000;
$black: #222222;
$light-pink: #F1E4E6;
$pink: #F16D7F;
$white: #FFFFFF;
$white-promo: #FBFBFB;
$grey: #9F9F9F;
$text-card: #5D5D5D;
$light-grey: #F8F8F8;
$icon-color: #E8E8E8;
$input-subscribe: #E1E1E1;
$registr-bgnd: #F8F3F4;
$registr-color: #A4A4A4;
$registr-text: #B1B1B1;
$menu-text: #6F6E6E;
$card-property: #575757;
$cart-quote: #4A4A4A;
$cart-total: #F5F3F3;
$cart-hr: #E2E2E2;
$cart-quanity-border: #EAEAEA;


$font-lato: "Lato",
sans-serif;

$tablet-width: 1139px;
$mobile-width: 767px;
$mobile-cart-width: 400px;

// $tablet-width: 1139px;
// $mobile-width: 767px;