.menu-item {
    &__title {
        @include font ();
        color: $pink;
        text-transform: uppercase;
        margin: 20px 0 12px 33px;
    }

    &__sub-item {
        @include font ();
        color: $menu-text;
        margin: 0 0 11px 54px;

        &:hover {
            color: $pink;
        }

        &:active {
            color: $grey;
        }

        &:focus {
            color: $black;
        }
    }

    &__link {
        text-decoration: none;
    }
}