.promo {
    background-color: $black;
    max-width: 1600px;
    margin: 0 auto;
    padding: 103px 0;

    @include tablet {
        padding: 48px 0;
    }

    &__list {
        display: flex;
        justify-content: space-between;

        @include tablet {
            flex-direction: column;
            align-items: center;
        }
    }

    &__item {
        width: 360px;
        display: flex;
        flex-direction: column;
        align-items: center;

        @include tablet {
            margin-bottom: 48px;
        }
    }

    &__title {
        @include font (20px);
        color: $white-promo;
        margin: 28px 0 16px;
    }

    &__text {
        @include font ();
        color: $white-promo;
        text-align: center;
    }
}